In [1]:
10

10

In [2]:
print ("ahmad")

ahmad

In [27]:
print "ahmad"

SyntaxError: Missing parentheses in call to 'print' (<ipython-input-27-969d7a47f8cd>, line 1)

* We have to put () to print strings

In [12]:
a=8

* Define Variabel in python without specify its type

In [13]:
a

8

* print variables

In [14]:
a+2

10

add 2 to the variable a without changing its value

In [15]:
a

8

In [28]:
print a

SyntaxError: Missing parentheses in call to 'print' (<ipython-input-28-9d7b17ad5387>, line 1)

In [18]:
print (a)

8

In [19]:
print ("a")

a

* we can print variables by the name of variable or print (name of variable )

In [29]:
a= a+2

* add 2 to the variable a and change its value

In [22]:
a

10

In [24]:
b=a+2

In [25]:
b

12

In [26]:
m1=5

In [24]:
1m=5

SyntaxError: invalid syntax (<ipython-input-24-0987387b3622>, line 1)

* Name of variable cannot start with numbers

In [25]:
a=5

In [26]:
type(a)

int

we use function type() to git type of variable

In [27]:
w= ahmad

NameError: name 'ahmad' is not defined

* Strings must put in ""

In [30]:
w="ahmad"

In [31]:
type(w)

str

In [32]:
a= "ahmad "

In [33]:
a="v"

In [32]:
list('cat')

['c', 'a', 't']

we use function list() to make  a list of characters

In [34]:
list('ahmad osama odeh')

['a',
 'h',
 'm',
 'a',
 'd',
 ' ',
 'o',
 's',
 'a',
 'm',
 'a',
 ' ',
 'o',
 'd',
 'e',
 'h']

In [34]:
list(201)

TypeError: 'int' object is not iterable

we cannot use function list with numbers

In [35]:
list('201')

['2', '0', '1']

In [36]:
a='a-b-g-fsdf-dgdfg'

In [37]:
a.split('-')

['a', 'b', 'g', 'fsdf', 'dgdfg']

function split() divide strings by the character in ()

In [37]:
a=['ahmad','odeh']

create list of strings

In [38]:
b=['Ali','a']

In [39]:
z=['a','b']

In [40]:
z

['a', 'b']

In [42]:
z=[a,b]

* list of lists  (items of the list are lists )

In [42]:
z

['a', 'b']

In [45]:
a=['ahmad','ali','rami','sami']
a[0:2]

['ahmad', 'ali']

Take sublist from the list start from the beginning until the second item

In [46]:
a[2]='mohammad'

change value of an item in the list

In [47]:
a

['ahmad', 'ali', 'mohammad', 'sami']

In [48]:
a[::2]

['ahmad', 'mohammad']

get sublist of the list from the beginning to the end..item after item

In [51]:
a[::-2]

['sami', 'ali']

get sublist of the list from the end to the beginning item after item

In [52]:
a[::-1]

['sami', 'mohammad', 'ali', 'ahmad']

* get the items of the list from the end to the beginning

In [49]:
a=['1','2','3']

In [51]:
a.append(1)

add items to the list

In [56]:
a

['1', '2', '3', 1]

In [57]:
b=['4','5']

In [58]:
a.extend(b)

add list to the list

In [53]:
a

['1', '2', '3', 1, 1]

In [54]:
a=['1','2']

In [61]:
del a[1]

Delete item from the list (we define the location of the item )

In [62]:
a

['1']

In [59]:
a=[1,2,3,4,5,2]

In [60]:
a.remove(2)

delete item from the list but we define the item not its location (if the list contain the same item more than onec remave() will delete the first 
)

In [61]:
a

[1, 3, 4, 5, 2]