#  Lists in python

In [2]:
nephews = ["ALi","Abed","Moe"]

create list of Strings

In [3]:
nephews[0]

'ALi'

In [4]:
nephews[2]

'Moe'

Get item from the list by its index

In [5]:
nephews[3]

IndexError: list index out of range

if we put index out of list length we will get error

In [6]:
len(nephews)

3

len() return the length of the list

In [9]:
for i in range(3):
    nephews[i] = nephews[i] + ' natsheh'

loop for add string to all list items

In [11]:
print(nephews)

['ALi natsheh natsheh', 'Abed natsheh natsheh', 'Moe natsheh natsheh']

In [12]:
mix_it_up = [1,[2,3],'alpha']

list of items of deffirent types

In [14]:
mix_it_up

[1, [2, 3], 'alpha']

In [16]:
nephews.append('Masa Natsheh')
print(nephews)

['ALi natsheh natsheh', 'Abed natsheh natsheh', 'Moe natsheh natsheh', 'Masa Natsheh', 'Masa Natsheh']

add element to the list

In [18]:
nephews.extend(['zenah Natsheh', "Maya Natsheh"])
print (nephews)

['ALi natsheh natsheh', 'Abed natsheh natsheh', 'Moe natsheh natsheh', 'Masa Natsheh', 'Masa Natsheh', 'zenah Natsheh', 'Maya Natsheh']

add list to the list nephews

In [19]:
Natsheh = nephews + ['Nawal Natsheh', 'Eman Natsheh']
print(Natsheh)

['ALi natsheh natsheh', 'Abed natsheh natsheh', 'Moe natsheh natsheh', 'Masa Natsheh', 'Masa Natsheh', 'zenah Natsheh', 'Maya Natsheh', 'Nawal Natsheh', 'Eman Natsheh']

In [28]:
len(a)

3

In [20]:
Natsheh.insert(0, 'Noor Natsheh')
print(Natsheh)

['Noor Natsheh', 'ALi natsheh natsheh', 'Abed natsheh natsheh', 'Moe natsheh natsheh', 'Masa Natsheh', 'Masa Natsheh', 'zenah Natsheh', 'Maya Natsheh', 'Nawal Natsheh', 'Eman Natsheh']

insert elements at any position in the list using the insert

In [21]:
del Natsheh[0]
print(Natsheh)
Natsheh.remove('Nawal Natsheh')
print (Natsheh)

['ALi natsheh natsheh', 'Abed natsheh natsheh', 'Moe natsheh natsheh', 'Masa Natsheh', 'Masa Natsheh', 'zenah Natsheh', 'Maya Natsheh', 'Nawal Natsheh', 'Eman Natsheh']
['ALi natsheh natsheh', 'Abed natsheh natsheh', 'Moe natsheh natsheh', 'Masa Natsheh', 'Masa Natsheh', 'zenah Natsheh', 'Maya Natsheh', 'Eman Natsheh']

delete elements by their index

In [22]:
Natsheh.sort()
print(Natsheh)

['ALi natsheh natsheh', 'Abed natsheh natsheh', 'Eman Natsheh', 'Masa Natsheh', 'Masa Natsheh', 'Maya Natsheh', 'Moe natsheh natsheh', 'zenah Natsheh']

sort the elements by sort() method

In [23]:
squares = [0,1,4,9,16,25,36,49]

Create list of integers

In [24]:
squares[0:2]

[0, 1]

In [26]:
squares[1:3]

[1, 4]

get sublist of the list

In [28]:
squares[:4]

[0, 1, 4, 9]

In [29]:
squares[1:]

[1, 4, 9, 16, 25, 36, 49]

In [30]:
squares[:]

[0, 1, 4, 9, 16, 25, 36, 49]

In [31]:
squares[-1]

49

In [32]:
squares[2:4] = ['4', '9']
print(squares)

[0, 1, '4', '9', 16, 25, 36, 49]

In [33]:
del squares[-2:]

In [35]:
for value in squares:
    print("Element: ", value)

Element:  0
Element:  1
Element:  4
Element:  9
Element:  16
Element:  25

loop for print elements of the list

In [37]:
for index, value in enumerate(squares):
    print("Element", index, "-> ", value)

Element 0 ->  0
Element 1 ->  1
Element 2 ->  4
Element 3 ->  9
Element 4 ->  16
Element 5 ->  25

loop for print index and element of the list